extends layout

block content
    script(type='text/javascript', src='../public/javascripts/localstorage.js')
    h1= title
    p Generare furnizor/client #{title}
    p Căutare după CUI:
    form(action="/fetchtva", method="post")
        label(for="cui") Introduceți codul fiscal: 
        input(type="text", id="cui" name="lookupcui", required)
        input(type="submit", value="Căutare CUI")
    p Câmpurile obligatorii sunt marcate cu *
    //- pre= JSON.stringify(codfiscal, null, 2)
    form(action="/generatevb", method="post")
        fieldset
            legend Furnizor/client
            p Câmpuri obligatorii: #{JSON.stringify(message, null, 2)}
            div(class="mandatory")
                label(for="cui") CUI*: 
                input(type="text" id="cui" name="cui" value=codfiscal.found[0].date_generale.cui title="Cod fiscal" required)
                //- input(type="text" id="cui" name="cui" value=codfiscal[0].cui title="Cod fiscal" required)
                label(for="denumire") Denumire*: 
                input(type="text", id="denumire" name="denumire" value=codfiscal.found[0].date_generale.denumire title="Denumirea firmei", required)
                //- input(type="text", id="denumire" name="denumire" value=codfiscal[0].nume title="Denumirea firmei", required)
                label(for="adresa") Adresa*: 
                input(type="text", id="adresa" name="adresa" value=codfiscal.found[0].date_generale.adresa title="Adresa firmei", required)
                //- input(type="text", id="adresa" name="adresa" value=codfiscal[0].adresa title="Adresa firmei", required)
                label(for="nrRegCom") Registrul Comerțului*: 
                input(type="text", id="nrRegCom" name="nrRegCom" value=codfiscal.found[0].date_generale.nrRegCom title="Număr Registrul Comerțului", required)
                //- input(type="text", id="nrRegCom" name="nrRegCom" value=codfiscal[0].regcom title="Număr Registrul Comerțului", required)
            p Câmpuri facultative:
            div(class="optional")
                label(for="telefon") Telefon: 
                input(type="text", id="telefon" name="telefon" title="Număr de telefon")
                label(for="fax") Fax: 
                input(type="text", id="fax" name="fax" title="Număr de fax")
                label(for="email") E-mail: 
                input(type="text", id="email" name="email" title="Adresă de e-mail")
                label(for="web") WEB: 
                input(type="text", id="web" name="web" title="Adresă site Internet")
                label(for="codPostal") Cod poștal: 
                input(type="text", id="codPostal" name="codPostal" title="Cod poștal")
                label(for="act") Act de constituire: 
                input(type="text", id="act" name="act" title="Act de constituire")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="stare_inregistrare")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="data_inregistrare")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="cod_CAEN")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="statusRO_e_Factura")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="organFiscalCompetent")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="statusRO_e_Factura")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="forma_organizare")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="forma_juridica")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="inregistrare_scop_Tva")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="adresa_sediu_social")
                label(for="telefon") Telefon: 
                input(type="text", id="input" name="input" title="adresa_domiciliu_fiscal")
                select(name="vendorclient" title="Salvați ca furnizor sau client")
                    option(value="vendor") Furnizor
                    option(value="client") Client
                input(type="submit", value="Salvare")
//- {
//-     "cod": 200,
//-     "message": "SUCCESS",
//-     "found": [
//-       {"date_generale": {
//-           "cui": 19467555,
//-           "data": "2023-10-27",
//-           "denumire": "LEON TIBERIU CRISTIAN PERSOANĂ FIZICĂ AUTORIZATĂ",
//-           "adresa": "JUD. BRAŞOV, MUN. SĂCELE, STR. VALEA CERNATULUI, NR.47",
//-           "nrRegCom": "F08/388/2003",
//-           "telefon": "0729947925",
//-           "fax": "",
//-           "codPostal": "505600",
//-           "act": "",
//-           "stare_inregistrare": "RELUARE ACTIVITATE din data 30.04.2013",
//-           "data_inregistrare": "2007-01-01",
//-           "cod_CAEN": "7430",
//-           "iban": "",
//-           "statusRO_e_Factura": false,
//-           "organFiscalCompetent": "Administraţia Judeţeană a Finanţelor Publice Braşov",
//-           "forma_de_proprietate": "",
//-           "forma_organizare": "",
//-           "forma_juridica": ""
//-         },
//-         "inregistrare_scop_Tva": {
//-           "scpTVA": false,
//-           "perioade_TVA": []
//-         },
//-         "inregistrare_RTVAI": {
//-           "dataInceputTvaInc": "",
//-           "dataSfarsitTvaInc": "",
//-           "dataActualizareTvaInc": "",
//-           "dataPublicareTvaInc": "",
//-           "tipActTvaInc": "",
//-           "statusTvaIncasare": false
//-         },
//-         "stare_inactiv": {
//-           "dataInactivare": "",
//-           "dataReactivare": "",
//-           "dataPublicare": "",
//-           "dataRadiere": "",
//-           "statusInactivi": false
//-         },
//-         "inregistrare_SplitTVA": {
//-           "dataInceputSplitTVA": "",
//-           "dataAnulareSplitTVA": "",
//-           "statusSplitTVA": false
//-         },
//-         "adresa_sediu_social": {
//-           "sdenumire_Strada": "Str. Valea Cernatului",
//-           "snumar_Strada": "47",
//-           "sdenumire_Localitate": "Mun. Săcele",
//-           "scod_Localitate": "157",
//-           "sdenumire_Judet": "BRAŞOV",
//-           "scod_Judet": "8",
//-           "scod_JudetAuto": "BV",
//-           "stara": "",
//-           "sdetalii_Adresa": "",
//-           "scod_Postal": "505600"
//-         },
//-         "adresa_domiciliu_fiscal": {
//-           "ddenumire_Strada": "Str. Valea Cernatului",
//-           "dnumar_Strada": "47",
//-           "ddenumire_Localitate": "Mun. Săcele",
//-           "dcod_Localitate": "157",
//-           "ddenumire_Judet": "BRAŞOV",
//-           "dcod_Judet": "8",
//-           "dcod_JudetAuto": "BV",
//-           "dtara": "",
//-           "ddetalii_Adresa": "",
//-           "dcod_Postal": "505600"
//-         }
//-       }
//-     ],
//-     "notFound": []
//-   }

    p Codul fiscal căutat:
        i #{codfiscal}
    select
        each variable in [codfiscal]
            option(value=variable) #{variable}