extends layout

block content
    script(type='text/javascript', src='/public/javascripts/localstorage.js')
    h1= title
    p Privire generală #{title}
    p Facturi:
    form(action="/", method="post")
        label(for="input") Selectează client: 
    select
        each variable in [codurifiscale]
            option(value=variable) #{variable}
        input(type="submit", value="Submit")

    p Codul fiscal căutat: 
        i #{codurifiscale}
