extends layout

block content
    script(type='text/javascript', src='/javascripts/functions.js')

    p.message#message #{message}
    form(action="/", method="post")
        label(for="input") Selectează furnizor/client: 
    select
        each vendor in vendordata
            option(value=vendor.denumire) #{vendor.denumire}
        input(type="submit", value="Afișează")

        table(style='width:100%', border='1')
            thead
                tr(class='vendorshead')
                    th(class='vendorhead') ID
                    th(class='vendorhead') Denumire
                    th(class='vendorhead') CUI
                    th(class='vendorhead') Registrul Comerțului
                    th(class='vendorhead') Adresa
                    th(class='vendorhead') Acțiuni
            tbody
                each vendor in vendordata
                    tr(class='vendors')
                        td(class='vendor' id=vendor._id) #{vendor._id}
                        td(class='vendor') #{vendor.date_generale.cui}
                        td(class='vendor') #{vendor.cui}
                        td(class='vendor') #{vendor.nrRegCom}
                        td(class='vendor') #{vendor.adresa}
                        td(class='vendor')
                            a(href="/generatevb")
                                button.editbutton Editare
                            button.deletebutton(onclick=`deleteVendor("${vendor._id}")`) Ștergere 
                            
            tfoot
                tr(class='vendorsfooter')
                    td(colspan="1") Numărul înregistrărilor: #{vendordata.length}
                    td(colspan=4) Ultima actualizare a datelor: #{Object.values(vendordata).at(-1).updatedAt}
                    td(class='vendor')
                        button(class='deletebutton' onclick="deleteallVendors()") Ștergeți toate
        details
            summary Listă firme
            ol(type="1")
                each vendor in vendordata
                    li 
                        i #{vendor.denumire}
                    ul
                        li
                            i #{vendor.cui}
                        li
                            i #{vendor.nrRegCom}
                        li
                            i #{vendor.adresa}