extends layout

block content
    script(type='text/javascript', src='/public/javascripts/localstorage.js')
    p.message #{message}
    form(action="/", method="post")
        label(for="input") Selectează furnizor/client: 
    select
        each vendor in vendordata
            option(value=vendor.denumire) #{vendor.denumire}
        input(type="submit", value="Afișează")

    p Firme: 
        each vendor in vendordata
            i #{vendor.denumire} 
        table(style='width:100%', border='1')
            tbody
                tr(class='vendorshead')
                    th(class='vendorhead') ID
                    th(class='vendorhead') Denumire
                    th(class='vendorhead') CUI
                    th(class='vendorhead') Registrul Comerțului
                    th(class='vendorhead') Adresa
                    each vendor in vendordata
                        tr(class='vendors')
                            td(class='vendor') #{vendor._id}
                            td(class='vendor') #{vendor.denumire}
                            td(class='vendor') #{vendor.cui}
                            td(class='vendor') #{vendor.nrRegCom}
                            td(class='vendor') #{vendor.adresa}